!!! 5
/[if lt IE 7]   <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en-us">
/[if IE 7]      <html class="no-js lt-ie10 lt-ie9 lt-ie8" lang="en-us">
/[if IE 8]      <html class="no-js lt-ie10 lt-ie9" lang="en-us">
/[if IE 9]      <html class="no-js lt-ie10 lt-ie9" lang="en-us">
/[if lt IE 10]  <html class="no-js lt-ie10" lang="en-us">
/[if !IE]>
%html{lang: 'en', class: 'no-js'}
  /<![endif]
  %head
    %title #{current_page.data.title} - Code, Love & Boards
    %meta(http-equiv="content-type" content="text/html" charset="utf-8")
    %meta(http-equiv="x-ua-compatible" content="ie=edge,chrome=1")
    %meta(name="description" content="My name is Ricardo García Vega and I'm a passionate full stack developer living in the northern coast of Spain and working remotely. I love building web applications using Elixir, Phoenix and Elm, among others, and writing about my coding experiences in this blog.")
    %meta(name="author" content="Ricardo García Vega - http://twitter.com/bigardone")
    %meta(name="keywords" content="Ricardo García Vega, full stack, web applications, web developer, ruby, ruby on rails, javascript, haml, sass, coffeescript, html5, elixir, phoenix, elm, react, redux")
    %meta{content: "initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width", name: "viewport"}
    %meta(name="google-site-verification" content="gXnWlPON3zeEL7jDFtK9wKScnCYqmpEe6NpRdK7mKSw")
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Montserrat:400,700|Lora:400,700"
    %link{href: "http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", rel: "stylesheet"}/
    = stylesheet_link_tag "application", media: "all"

    -# App Icons
    %link{href: "/images/apple-touch-icon-57x57.png", rel: "apple-touch-icon", sizes: "57x57"}/
    %link{href: "/images/apple-touch-icon-114x114.png", rel: "apple-touch-icon", sizes: "114x114"}/
    %link{href: "/images/apple-touch-icon-72x72.png", rel: "apple-touch-icon", sizes: "72x72"}/
    %link{href: "/images/apple-touch-icon-144x144.png", rel: "apple-touch-icon", sizes: "144x144"}/
    %link{href: "/images/apple-touch-icon-60x60.png", rel: "apple-touch-icon", sizes: "60x60"}/
    %link{href: "/images/apple-touch-icon-120x120.png", rel: "apple-touch-icon", sizes: "120x120"}/
    %link{href: "/images/apple-touch-icon-76x76.png", rel: "apple-touch-icon", sizes: "76x76"}/
    %link{href: "/images/apple-touch-icon-152x152.png", rel: "apple-touch-icon", sizes: "152x152"}/
    %link{href: "/images/favicon-160x160.png", rel: "icon", sizes: "160x160", type: "image/png"}/
    %link{href: "/images/favicon-96x96.png", rel: "icon", sizes: "96x96", type: "image/png"}/
    %link{href: "/images/favicon-32x32.png", rel: "icon", sizes: "32x32", type: "image/png"}/
    %link{href: "/images/favicon-16x16.png", rel: "icon", sizes: "16x16", type: "image/png"}/
    %meta{content: "#9f00a7", name: "msapplication-TileColor"}/
    %meta{content: "/images/mstile-144x144.png", name: "msapplication-TileImage"}/
    :javascript
      var _StatHat = _StatHat || [];
      _StatHat.push(['_setUser', 'NzIzMCDaNaL5bvEP1HQkMYwfYsQe']);
      (function() {
              var sh = document.createElement('script'); sh.type = 'text/javascript';
              sh.async = true;
              sh.src = '//www.stathat.com/javascripts/api.js';
              var s = document.getElementsByTagName('script')[0];
              s.parentNode.insertBefore(sh, s);
      })();
    %link{:href => "//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"}
    :javascript
      window.addEventListener("load", function(){
      window.cookieconsent.initialise({
        "palette": {
          "popup": {
            "background": "#252e39"
          },
          "button": {
            "background": "#217dbb"
          }
        },
        "theme": "classic",
        "position": "bottom-right"
      })});

  %body{class: current_page.data.body_class || 'page'}
    = partial 'partials/nav'
    %header#main_header{data: {stellar: {'background-ratio' => '0.5'}}}
      %section.center
        .container
          #welcome
            .main-logo
              = link_to '/' do
                =image_tag "/images/logo.png"

      =image_tag "/images/avatar.jpg", class: "avatar"

    #main_content
      = yield
    = partial 'partials/footer'

    -# Javascripts
    = javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyBnD-8o7h1yG5nqEH79kesRc8PpGJxHZhM&sensor=false'
    = javascript_include_tag 'application'

    - if build?
      -# Google Analytics
      :javascript
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-37802122-1', 'codeloveandboards.com');
        ga('send', 'pageview');
